//Colors

//Theme colors

$primary-green: #8FB9A8;
$primary-yellow: #FEFAD4;
$primary-pink: #FCD0BA;
$primary-red: #F1828D;
$primary-brown: #765D69;


//Font Colors

$primary-color-font: black;
$secondary-color-font: #f3f3f3;
